.main-image {
    background: url('https://scontent.flhe32-1.fna.fbcdn.net/v/t39.30808-6/241356236_10159090428548612_9038373125046047832_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=3a1ebe&_nc_eui2=AeEehx_4a7avXllpKcV8ypmxLSWnFwUjn1YtJacXBSOfVlOsTt6CKR5Y1vsAGKuJUC_03gLkD8as5lYtTTpIOBtw&_nc_ohc=fBudDibXs34Q7kNvgEBFS9-&_nc_ht=scontent.flhe32-1.fna&_nc_gid=AnybJnMtPqwTQhMl7KsflA0&oh=00_AYBn4WAESuD98QuC43vsZF6PeSf836E4R99tJtsKOcLA7g&oe=66ED0B27');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    
    z-index: 1;  /* Lower z-index to stay underneath the overlay */
    position: relative;
  }